extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="post", name="mood")
    div
      input(type="radio", id="happy")
      label(for="happy") Happy
    div
      input(type="radio", id="sad")
      label(for="sad") Sad
    div
      input(type="submit", value="Find a playlist!")