extends layout

block content
  h1= title
  p Welcome to #{title}.
  form(action="/playlist", method="post")
    div
      input(type="radio", id="happy", value="Happy", name="mood")
      label(for="happy") Happy
    div
      input(type="radio", id="sad", value="Sad", name="mood")
      label(for="sad") Sad
    div
      input(type="radio", id="angry", value="Angry", name="mood")
      label(for="angry") Angry
    div
      input(type="radio", id="relaxed", value="Relaxed", name="mood")
      label(for="relaxed") Relaxed
    div
      input(type="radio", id="motivated", value="Motivated", name="mood")
      label(for="motivated") Motivated
    div
      input(type="submit", value="Find a playlist!")
  
  div
  br
  form(action="/upload", method="post", enctype="multipart/form-data")
    div
      label(for="upload") Upload a Selfie.
      br
      input(type="file", name="selfie", accept="image/*", capture="user", id="upload")