doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon", type='image/png', size='32x32', href="/images/favicon-32x32.png")
    link(rel="icon", type='image/png', size='16x16', href="/images/favicon-16x16.png")
    link(rel="apple-touch-icon", size='180x180', href="/images/apple-touch-icon.png")
    link(rel="manifest", href="/images/site.webmanifest")
  body
    block content
